doctype html
html
	head
		title Aplikacja do logowania
	body
		h1 Aplikacja do logowania
		form(action="http://localhost:8500/auth/google", method="GET")
			input(type="submit", value="Zaloguj przez Google")